@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&family=Poppins:wght@300;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: rgb(115, 192, 128);
    background: linear-gradient(90deg, rgba(115, 192, 128, 1) 0%, rgba(200, 234, 209, 1) 50%);
}